
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111111c4;
}

header {
    background-color: #111;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 24px;
     justify-content: center;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
    transition: color 0.5s ease;
}

.nav-list a:hover {
    color: #c300ff;
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-section {
    background-color: #111;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.link-section h1 {
    color: white;
    margin-bottom: 24px;
    font-family: Arial, sans-serif;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.links a {
    display: block;
    padding: 14px;
    background-color: #1e1e1e;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: transform 0.2s ease, background 0.2s ease;
}

.links a:hover {
    background-color: #00ffcc;
    color: #000;
    transform: scale(1.03);
}

.profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #00ffcc;
}
.button-class {
    padding: 10px 20px;
    background-color: #000000;
    color: #dbdbdb;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.button-wrapper {
    height: -100px;             /* ganze Seite */
    display: flex;
    justify-content: center;    /* horizontal */
    align-items: center;        /* vertikal */
}
.uwu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.uwu-class {
    padding: 10px 20px;
    background-color: #000000;
    color: #dbdbdb;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}
.css-pain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pain{
    padding: 10px 20px;
    background-color: #111111a4;
    color: #dbdbdb;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}